/* CSS Document */


html {    background-color: #FFFFFF;    width: 100%;}
body {    background: none repeat scroll 0 0 #FFFFFF;    color: #000000;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {    margin: 0;    padding: 0;}

.clear{clear:both;}
.menusHeader ul li { display:inline;}
.logoSite img{	width:150px;	height:150px; }
.SearchHeader {}

.wrapper,.header , .homeSlider, .breadcrumb, .content, #featured, .footer {    margin: 0 auto;    width: 960px;}

/*Header Part*/
.header 
.menusHeader{width:500px; float:left; height:25px;}
.searchHeader{ width:300px;	float:right; text-align:right }
.searchHeader h4{ width:80px;	float:left; text-align:left } 

/* Remote Part*/
.closer{ background:#eeeeee; margin:20px auto;	width:100%;}
.far{ background:#eeeeee;margin:20px auto;	width:100%;}
#titlecontent  {  position: absolute;  top: 100%;  animation: scroll 100s linear 4s infinite;  }  

ul.gallery li{
	margin:0 10px 10px 0;
	display:inline-block;		
}